*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.board
{
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(auto-fit,80px);
    grid-template-rows: repeat(auto-fit,80px);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 640px;
    height: 640px;
    border: 1px solid black;
}

.square
{
    height: 80px;
    width: 80px;
    border: 1px solid black;
}
.black
{
    background: black;
}

